:host {
  display: block;
  font-family: 'RobotoDraft', sans-serif;
}

/*
:host /deep/ #ink, :host /deep/ #selectionBar, :host /deep/ #onRadio {
  color: #FED359;
}
*/
/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}

.container-header {
  height: 100%;
}

core-toolbar {
  background: #47CACC;
  color: white;
  min-height: 64px;
}

core-toolbar paper-icon-button {
  vertical-align: middle;
}
#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
#tabs core-icon {
  margin-right: 8px;
}
.menu-label {
  display: none;
}
#search {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-size: 16px;
}
.issues-info {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}
.issues-info label {
  display: inline;
  color: #2A7A7C;
  font-weight: 400;
  margin-left: 6px;
}
.issues-info label.first-child {
  margin-left: 0px;
}
.issues-info span {
  display: block;
}
.issues-info .issues-header {
    font-size: 13px;
}
.issues-info .issues-details {
  text-transform: uppercase;
  display: inline;
  color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 481px) {
  #tabs {
    /* width: 200px; */
  }
  .issues-info .issues-header {
    font-size: 19px;
  }
  .issues-info {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
  }
  .container {
    width: 400px;
  }
  .menu-label {
    display: block;
  }
}
